@import url("pygment_highlights.css");

/* --- General --- */

body {
  /*font-family: 'Lora', 'Times New Roman', serif;*/
  font-family: "Roboto", arial, sans-serif;
  font-size: 16px;
  color: #404040;
  position: relative;
  background: #FFF;
}
dt {
  line-height: 200%;
}
dd{
  margin-left: 50px;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  /* text-decoration: underline */
  color: #0085a1;
}
h1,h2,h3,h4,h5,h6 {
  /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: "Roboto", arial, sans-serif;
  font-weight: bold;
}
a {
  color: #0085a1;
}
a:hover,
a:focus {
  color: #008AFF;
}
blockquote {
  color: #808080;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}
@media only screen and (min-width: 1010px) {
  .main-content {
    padding-top: 130px;
  }
}

.main-explain-area {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px inherit;
}

.hideme {
  display: none;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

img {
  max-width: 100%;
}

.disqus-comments {
  margin-top: 30px;
}

@media only screen and (min-width: 1010px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

/* --- Navbar --- */

.navbar-custom {
  background: #F5F5F5;
  border-bottom: 1px solid #EAEAEA;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  /*letter-spacing: 0px;*/
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 800;
  color: #404040;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #0085a1;
}

@media only screen and (min-width: 1010px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  width: 50px;
  margin-top: -25px;
}
.navbar-custom .avatar-container  .avatar-img-border {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container  .avatar-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.navbar-custom.top-nav-short .avatar-container{
  opacity: 0;
}

.navbar-custom.top-nav-expanded .avatar-container  {
  display: none;
}

@media only screen and (min-width: 1010px) {
  .navbar-custom .avatar-container {
    width: 100px;
    margin-top: -50px;
  }

  .navbar-custom .avatar-container  .avatar-img-border {
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  }

  .navbar-custom .avatar-container  .avatar-img {
    width: 100%;
  }
}

/* --- Footer --- */

footer {
  padding: 30px 0;
  background: #F5F5F5;
  border-top: 1px #EAEAEA solid;
  margin-top: 50px;
  font-size: 14px;
}

footer a {
  color: #404040;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-family: Open Sans;
  text-align: center;
  margin-bottom: 0;
}
footer .theme-by {
  text-align: center;
  margin: 10px 0 0;
}

@media only screen and (min-width: 1010px) {
  footer {
    padding: 50px 0;
  }
  footer .footer-links {
    font-size: 18px;
  }
  footer .copyright {
    font-size: 16px;
  }
}

/* --- Post preview --- */

.post-preview {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

@media only screen and (min-width: 1010px) {
  .post-preview {
    padding: 35px 0;
  }
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  text-decoration: none;
  color: #404040;
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: #0085a1;
}

.post-preview .post-title {
  font-size: 30px;
  margin-top: 0;
}
.post-preview .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview .post-meta,
.post-heading .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin: 0 0 10px;
}
.post-preview .post-entry {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.post-preview .post-read-more {
  font-weight: 800;
}

@media only screen and (min-width: 1010px) {
  .post-preview .post-title {
    font-size: 36px;
  }
}

/* --- Post and page layout --- */

header.header-page {
  margin-bottom: 20px;
}

header.header-page .page-heading {
  text-align: center;
}

header.header-post .post-heading h1 {
  font-size: 35px;
  margin-top: 0;
}

header.header-page .page-heading h1 {
  font-size: 35px;
  margin-top: 0;
}

header.header-post .post-heading .post-subheading,
header.header-page .page-heading .page-subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}

header.header-post .post-heading .post-subheading {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1010px) {
  header.header-post .post-heading h1 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1010px) {
  header.header-page .page-heading h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 480px) {
  header.header-page .page-heading h1 {
    font-size: 35px;
    margin-top: 25px;
  }
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* --- Pager --- */

.pager li a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: #FFF;
  border-radius: 0;
  color: #404040;
}
@media only screen and (min-width: 1010px) {
  .pager li a {
    padding: 15px 25px;
  }
}
.pager li a:hover,
.pager li a:focus {
  color: #FFF;
  background: #0085a1;
  border: 1px solid #0085a1;
}

.pager {
  margin: 10px 0 0;
}

.pager.blog-pager {
  margin-top: 0;
}

@media only screen and (min-width: 1010px) {
  .pager.blog-pager  {
    margin-top: 10px;
  }
}

/* --- Tables --- */

.blog-post table {
  padding: 0;
}
.blog-post table tr {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.blog-post table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.blog-post table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.blog-post table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.blog-post table tr th :first-child,
.blog-post table tr td :first-child {
  margin-top: 0;
}
.blog-post table tr th :last-child,
.blog-post table tr td :last-child {
  margin-bottom: 0;
}

/* -----Custom additions for images & other visuals ------- */

.chapter-icon {
  width: 85px
  height: 85px
}

.bullet-box {
  background-color: #EBF5FB;
  text-align: left;
  vertical-align: middle;
  padding: 20px 0;
  margin-top: 30px
}
.bullet-list-square {
  list-style-type: square;
}
.bullet-list-circle {
  list-style-type: circle;
}
1

.figure {
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

img.non-captioned {
  float: right;
  max-width: 200px;
  max-height: 200px;
  // margin will give us space all around;
  margin: 5px 10px 5px 10px;
}

div.captioned{
  float: right;
  width: 40%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

img.captioned{
  max-width: 93%;
}

img.size200{
  max-height: 200px;
}

img.size300{
  max-height: 300px;
}

img.size400{
  max-height: 400px;
}

table.img-panel {
  border-collapse: collapse;
  border:0px;
  border-spacing: 0px;
  padding:0;
  margin:0;
}
td.img-panel{
  padding:1px;
  margin:0;
}
.panel{
  vertical-align: bottom;
  display: block;
  padding:0;
  margin:0;
  border:0px;
  border-radius: 0 !important;
}
/* ----- Other styling ------- */
