---
layout: page
title: ACI-REF Best Practices of Facilitation
subtitle: What is an ACI-REF, and What Activities Exemplify Facilitation?

---

<h2><a href="introduction">Introduction and Major Ideas</a></h2>

<h2> <a href="activities">Major Activities of Facilitation</a> </h2>

<h2><a href="definitions">Definitions</a></h2>

<h2><a href="appendix">Appendix</a></h2>

<center><a href="contribute">Contribute to this documentation</a> <br> <br>

<a href="http://www.aciref.org">Learn more about the ACI-REF program</a>

<br><br>
<img width="50%" src="img/bob-teaching.jpg">

<br>

<br>

<a href="acknowledgements">Acknowledgements</a>
</center>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
